<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774207684850-31hv6b4cfg56d8vf8timg100tt1gaeo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774207684850-31hv6b4cfg56d8vf8timg100tt1gaeo7</string>
	<key>API_KEY</key>
	<string>AIzaSyAGIPnHwgTHmHT8PRXwA9x2wOOmMdY-5H4</string>
	<key>GCM_SENDER_ID</key>
	<string>774207684850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseios</string>
	<key>PROJECT_ID</key>
	<string>fir-keepcoding-30909</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-keepcoding-30909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774207684850:ios:2ffd3ba32483016792906b</string>
</dict>
</plist>